<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Access Denied</title>
        <!-- Bootstrap core CSS and JS -->
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </head>

    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card mt-5 text-center">
                        <div class="card-header bg-danger text-white">
                            <h3>Access Denied</h3>
                        </div>
                        <div class="card-body">
                            <p class="text-center">
                                Sorry, you do not have permission to access this page.
                            </p>
                            <a th:href="@{/}" class="btn btn-primary btn-block">Go to Home Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>