<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
  <title>Add user</title>
</head>

<body>

    <div layout:fragment="content">
      <div class="row">
        <div class="col-md-12">

          <h2>Add user</h2>

          <div class="alert alert-success" th:if="${success}">
            <span th:text="${successMessage}"></span>
          </div>

          <div class="alert alert-danger" th:if="${success == false}">
            <span th:text="${errorMessage}"></span>
          </div>

          <form th:object="${userModel}" method="post" th:action="@{/users/add}">

            <div class="form-floating">
              <input type="text" id="username_id" name="username" th:field="*{username}" class="form-control"/><br/>
              <label for="username_id">Username</label>
            </div>

            <div class="form-floating">
              <input type="password" id="password_id" name="password" th:field="*{password}" class="form-control"/><br/>
              <label for="password_id">Password</label>
            </div>

            <input type="submit" class="btn btn-primary"/>

          </form>

          <br/>
          <a th:href="@{/users}">Back to list of all users</a>

        </div>
      </div>
    </div>

</body>
</html>