h2 {
    font-family: sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}

strong {
    font-weight: 700;
    background-color: yellow;
}

p {
    font-family: sans-serif;
}

.myClass1 {
    color: blue;
    font-size: 20px;
    background-color: #1b6d85;
}

.myClass2 {
    color:red;
    font-size: 40px;
}