<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Home</title>
</head>

<body>

    <div layout:fragment="content">
        <div class="row">

            <div class="col-md-12 mt-3">
                <h1>Welcome to the Flashcards website</h1>
                <p>to be added...</p>
            </div>

            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout" class="btn btn-primary">
            </form>

        </div>
    </div>

</body>

</html>