<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Layout Page</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>

<body>

  <header>
    <div th:fragment="site-header">
      <h1>Our Cool Website</h1>
      <strong>yey</strong>
    </div>
  </header>

  <main>
    <div th:fragment="content">
      <!-- This content will be replaced by the child templates -->
    </div>
  </main>

  <footer>
    <div th:fragment="site-footer">
      <p>© 2023 Our Cool Website</p>
    </div>
  </footer>

</body>

</html>