<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout_extension/layout}">

<head>
  <title>TITLE IMPLEMENTATION</title>
</head>

<body>

  <header>
    <h1>THIS WONT BE SHOWN</h1>
  </header>
  <h1>AND THIS TOO</h1>
  <p>AND THIS TOO</p>

  <section layout:fragment="my-content">
    <p>MY-CONTENT FRAGMENT IMPLEMENTATION</p>
  </section>

<!--  <section layout:fragment="my-second-content">-->
<!--    <p>MY-CONTENT SECOND FRAGMENT IMPL</p>-->
<!--  </section>-->
<!--  <div layout:insert="my-second-content">-->
<!--    <p>MY-CONTENT SECOND FRAGMENT IMPL</p>-->
<!--    <h2>This is some additional header content</h2>-->
<!--  </div>-->
  <div layout:replace="my-second-content">
    <p>MY-CONTENT SECOND FRAGMENT IMPL</p>
    <h2>This is some additional header content</h2>
  </div>

  <footer>
    <p>THIS WONT BE SHOWN AS WELL</p>
    <p layout:fragment="my-footer">MY-FOOTER FRAGMENT IMPLEMENTATION </p>
  </footer>

</body>

</html>