<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <title layout:title-pattern="$LAYOUT_TITLE ->>> $CONTENT_TITLE">LAYOUT INTERFACE</title>
</head>

<body>

  <header>
    <h1>New dialect example</h1>
  </header>

  <section layout:fragment="my-content">
    <p>Your page content goes here</p>
  </section>

  <div layout:fragment="my-second-content">
    <p>Your second page content goes here</p>
  </div>

  <footer>
    <p>My footer</p>
    <p layout:fragment="my-footer">Your custom footer here</p>
  </footer>

</body>
</html>